In [7]:
%pip install openpyxl

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
                                              0.0/250.0 kB ? eta -:--:--
     ----                                    30.7/250.0 kB 1.4 MB/s eta 0:00:01
     --------------                          92.2/250.0 kB 1.1 MB/s eta 0:00:01
     --------------------------             174.1/250.0 kB 1.3 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.5 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [3]:
import pandas as pd

In [17]:
cargotype_info = pd.read_csv('data\cargotype_info.csv', index_col='Unnamed: 0')
carton_price = pd.read_excel('data\carton_price.xlsx', index_col='Unnamed: 0')
carton = pd.read_csv('data\carton.csv') #
sku_cargotypes = pd.read_csv('data\sku_cargotypes.csv', index_col='Unnamed: 0')
data = pd.read_csv('data\data.csv', index_col='Unnamed: 0')
sku = pd.read_csv('data\sku.csv', index_col='Unnamed: 0')

In [26]:
cargotype_info.query('description == "2023-04-11"')

    cargotype description
64        NaN  2023-04-11
67        NaN  2023-04-11

In [28]:
cargotype_info = cargotype_info.drop_duplicates()

In [34]:
sku_cargotypes.head()

                                sku  cargotype
0  4862bf0e760a593b13f3f2fcf822e533        290
1  4862bf0e760a593b13f3f2fcf822e533        901
2  50d3c4fc66ad423b7feaadff2d682ee0        290
3  50d3c4fc66ad423b7feaadff2d682ee0        901
4  24ce9dba9f301ada55f60e25ee1498d2        290

In [35]:
sku

                                      sku     a     b     c
0        8ba57dcdba9a58b0c4edd180bef6afc9  11.0  31.0  28.0
1        d9af6ce6f9e303f4b1a8cb47cde21975  29.0  14.0  40.0
2        8b91fd242bde88f0891380506d9c3caa  12.0  13.0  35.0
3        e8af308a7659e34194770d1e3a48e144   3.0  13.0   8.0
4        dc0e2542e122731217289b8e6d3bd3f8  96.0  18.0  56.0
...                                   ...   ...   ...   ...
6385956  5367045e88650a12cde4803f55ed7525   0.0   0.0   0.0
6385957  8a3dcb8f1ccce02a3df63a9db0903f38   0.0   0.0   0.0
6385958  31e5069a999cd927bd623fd699957630   0.0   0.0   0.0
6385959  888059750dcd75922faf3b60144e4def   0.0   0.0   0.0
6385960  adbb245f995c9607838f68449e96550f   0.0   0.0   0.0

[6385961 rows x 4 columns]

In [36]:
data

,whs,orderkey,selected_cartontype,box_num,recommended_cartontype,selected_carton,sel_calc_cube,recommended_carton,pack_volume,rec_calc_cube,goods_wght,sku,who,trackingid
0,0,d48f3211c1ffccdc374f23139a9ab668,NONPACK,1,YML,NONPACK,0,YML,2046,108000,0.100,af49bf330e2cf16e44f0be1bdfe337bd,b7325da1af89a46059164618eb03ae38,6c304d5c2815ccd2ba5046c101294c24
1,0,d48f3211c1ffccdc374f23139a9ab668,NONPACK,1,YML,NONPACK,0,YML,2046,108000,0.100,af49bf330e2cf16e44f0be1bdfe337bd,b7325da1af89a46059164618eb03ae38,6c304d5c2815ccd2ba5046c101294c24
2,0,d48f3211c1ffccdc374f23139a9ab668,NONPACK,1,YML,NONPACK,0,YML,2046,108000,0.100,af49bf330e2cf16e44f0be1bdfe337bd,b7325da1af89a46059164618eb03ae38,6c304d5c2815ccd2ba5046c101294c24
3,0,d48f3211c1ffccdc374f23139a9ab668,NONPACK,1,YML,NONPACK,0,YML,2046,108000,0.100,af49bf330e2cf16e44f0be1bdfe337bd,b7325da1af89a46059164618eb03ae38,6c304d5c2815ccd2ba5046c101294c24
4,0,d48f3211c1ffccdc374f23139a9ab668,NONPACK,1,YML,NONPACK,0,YML,2046,108000,0.100,af49bf330e2cf16e44f0be1bdfe337bd,b7325da1af89a46059164618eb03ae38,6c304d5c2815ccd2ba5046c101294c24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325618,7,0e4f34db53e37d6bf171c2e055e2b4e0,MYC,1,YMC,MYC,4560,YMC,2080,8525,0.100,86dcc1a44eb2939fea4d2dd3604e1f9e,be7c9ad8b9430d358e6c276b94e2beff,f94f078101752133502202383bc87743
325619,7,0e4f34db53e37d6bf171c2e055e2b4e0,MYC,1,YMC,MYC,4560,YMC,2080,8525,0.100,86dcc1a44eb2939fea4d2dd3604e1f9e,be7c9ad8b9430d358e6c276b94e2beff,f94f078101752133502202383bc87743
325620,7,e71d2e750ce9a7a39c273c634be1665d,YMC,1,YMC,YMC,8525,YMC,3523,8525,0.284,9db21acf9e6c1a66493c246c1461f989,be7c9ad8b9430d358e6c276b94e2beff,58054d533ef06746ffd8cf99fad4a8cb
325621,7,2e2a642f611b5a6f2c404ab945fbc2a3,MYB,1,YMU,MYB,2816,YMU,552,2592,0.230,4aedb72c5662562524f6119918c7179b,be7c9ad8b9430d358e6c276b94e2beff,1666b5c878be124f05fb9a1d95dd8a68
325622,7,be54e183db5d75147ffcb4582c0e699b,NONPACK,1,NONPACK,NONPACK,0,NONPACK,38130,0,1.200,c674cb7255f1417a92e62f50b85aad5a,eeafb158c529eaf1aa9b8f2068a82914,16b2ecff7b2d86ada75995e8d5dd0152

In [23]:
cargotype_info

    cargotype                                        description
0       770.0                                           консервы
1       301.0               тяжеловесный и крупногабаритный 20кг
2       980.0                    Требует обязательной маркировки
3       985.0  Не требует наличия маркировки, но требует выво...
4       990.0  Потребует обязательной маркировки в ближайшем ...
..        ...                                                ...
93      640.0                                        электроника
94      908.0                                ветеринарная аптека
95     1300.0                                  большой аксессуар
96     1200.0                                    малый аксессуар
97      360.0                                  упаковка в пленку

[98 rows x 2 columns]

In [22]:
cargotype_info['description'].value_counts()

description
2023-04-11                      2
консервы                        1
корма для животных              1
цифровой товар                  1
меркурий                        1
                               ..
оружие и взрывчатые вещества    1
хрупкое                         1
малогабаритный товар            1
охлажденные                     1
упаковка в пленку               1
Name: count, Length: 97, dtype: int64

In [27]:
cargotype_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98 entries, 0 to 97
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cargotype    96 non-null     float64
 1   description  98 non-null     object
dtypes: float64(1), object(1)
memory usage: 2.3+ KB

In [24]:
cargotype_info['cargotype'].value_counts()

cargotype
770.0     1
301.0     1
210.0     1
1010.0    1
350.0     1
         ..
310.0     1
150.0     1
790.0     1
485.0     1
360.0     1
Name: count, Length: 96, dtype: int64